@charset "utf-8";
header {
  position: fixed;
  width: 100%;
  height: 1.55555556rem;
  background-color: #0085b5;
}
header .close {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.61111111rem;
  width: 0.49074074rem;
  height: 0.49074074rem;
  margin: auto;
  background: url(../images/main/u49.png) no-repeat;
  background-size: 0.49074074rem 0.49074074rem;
}
header h1 {
  font-size: 0.44444444rem;
  font-weight: bold;
  line-height: 1.55555556rem;
  color: #fff;
  text-align: center;
}
header .personal-center {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.61111111rem;
  width: 0.56481481rem;
  height: 0.56481481rem;
  margin: auto;
  background: url(../images/main/u51.png) no-repeat;
  background-size: 0.56481481rem 0.56481481rem;
}
p#fresh {
  text-align: center;
  margin: 0;
  padding-top: 1.55555556rem;
  font-size: 0.31481481rem;
  line-height: 0.92592593rem;
}
section {
  width: 100%;
  height: auto;
  background-color: #c0deed;
}
section ul.activities li {
  box-sizing: border-box;
  padding: 0.26851852rem 0.26851852rem 0.26851852rem 0.26851852rem;
  margin-top: 0.27777778rem;
  background-color: #e6f2f7;
}
section ul.activities li:first-child {
  margin-top: 0;
}
li img {
  display: block;
  width: 100%;
  height: 3.37037037rem;
  background-color: #fff;
}
li h3 {
  margin-top: 0.37037037rem;
  font-size: 0.37037037rem;
  font-weight: bold;
  color: #363636;
}
li p {
  width: 100%;
  height: 0.31481481rem;
  padding-bottom: 0.46296296rem;
  margin-top: 0.13888889rem;
  color: #b1b1b1;
  font-size: 0.31481481rem;
}
li p em {
  display: inline-block;
  width: 0.37037037rem;
  height: 0.37037037rem;
  margin-right: 0.06481481rem;
  background: url(../images/main/u12.png) no-repeat;
  background-size: 0.37037037rem 0.37037037rem;
  vertical-align: top;
  opacity: .3;
}
#addMore {
  font-size: 0.09259259rem;
  color: #0085b5;
  text-align: center;
  line-height: 0.92592593rem;
}
