@charset "utf-8";
body {
  background-color: #e9eaed;
}
article {
  font-size: 0.37037037rem;
  color: #7b7b7b;
}
header {
  position: relative;
  width: 100%;
  height: 2.03703704rem;
  border-bottom: 1px solid #ccc;
  text-align: center;
  background-color: #fff;
}
header em {
  position: absolute;
  left: 0.52777778rem;
  top: 0;
  bottom: 0;
  width: 0.60185185rem;
  height: 0.60185185rem;
  margin: auto;
  background: url('../images/myInfo_yes/u59.png') no-repeat;
  background-size: 0.60185185rem 0.60185185rem;
}
header h2 {
  line-height: 2.03703704rem;
}
section ul.title {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 1.85185185rem;
  background-color: #fff;
  font-size: 0;
}
ul.title li {
  display: inline-block;
  width: 50%;
  font-size: 0.37037037rem;
  line-height: 1.85185185rem;
  text-align: center;
}
/* 未参加与参加活动的详情 */
.infos {
  position: relative;
}
ul.ticket-yes,
ul.ticket-no {
  position: absolute;
  font-size: 0;
}
ul.ticket-no {
  display: none;
}
ul.ticket-yes li,
ul.ticket-no li {
  position: relative;
  padding-top: 0.64814815rem;
  margin-left: 0.32407407rem;
  font-size: 0.37037037rem;
}
ul.ticket-yes li img,
ul.ticket-no li img {
  display: inline-block;
  width: 3.14814815rem;
  height: 2.28703704rem;
  background-color: #fff;
  vertical-align: bottom;
}
ul.ticket-yes li .detail,
ul.ticket-no li .detail {
  height: 2.28703704rem;
  display: inline-block;
  margin-left: 0.46296296rem;
  line-height: 1.11111111rem;
}
i.delete {
  position: absolute;
  top: 0.92592593rem;
  right: 0rem;
  height: 0.60185185rem;
  width: 0.74074074rem;
  background-size: 0.60185185rem 0.60185185rem;
  font-style: normal;
  text-align: center;
  line-height: 0.60185185rem;
  text-decoration: underline;
}
